{
    "host": "http://localhost:11434",
    "prompt": "Torne-te um radiologista. Qual é o laudo da imagem a seguir?",
    "model": "llama3.2:11b",
    "image_token": "<|image|>",
    "base_template": "<|start_header_id|>system<|end_header_id|>\n\nCutting Knowledge Date: December 2023\nToday Date: 25 April 2025\n\n<|eot_id|>",
    "prompt_start_user": "<|start_header_id|>user<|end_header_id|>\n\n",
    "prompt_end_user": "<|eot_id|>",
    "prompt_start_assistant": "<|start_header_id|>assistant<|end_header_id|>\n\n",
    "prompt_end_assistant": "<|eot_id|>",
    "use-ollama": true
}